/* Defaul typography and color
Main color: #272A31;
Color 2 : #EC5242;
Color 3 : #D3D3D3;

-- Font -
Main font: Cocogoose;
Font: Lato; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-section {
  padding: 1.6rem;
  background-image: url(images/backgroundHeader.png);
  background-size: cover;
  padding-bottom: 7rem;
}

.mobile-menu {
  margin-bottom: 4rem;
}

.enabled-menu {
  width: 15%;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #272a31;
  font-size: 4.8rem;
}

.mobile-menu-expanded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3.6rem;
  background-color: rgba(211, 211, 211, 0.9);
  backdrop-filter: blur(8px);
  height: 100vh;
  display: none;
}

.closing-icon-container {
  display: flex;
  justify-content: flex-end;
}
.closing-icon-container img {
  width: 8%;
}
.mobile-menu-expanded.visible {
  display: block;
}

.headings {
  color: #ec5242;
  text-align: start;
}

.sub-heading {
  font-size: 2.4rem;
}

.main-text {
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.border-text {
  padding: 2rem;
  font-size: 1.6rem;
  border: 2px solid #fff;
  margin-bottom: 2rem;
}

.date-heading {
  font-size: 2.8rem;
  font-weight: 900;
  color: #272a31;
  margin-bottom: 1rem;
}

.date-span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #8f8f8f;
}

.bootcamp-section {
  background-color: #272a31;
  background-image: url(images/patternBackgroundmain.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.bootcamp-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.bootcamp-title-separator {
  width: 10%;
  border: 1px solid #ec5242;
  margin-bottom: 2rem;
}

.flex-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 3rem;
}

.program {
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  background-color: #7a7d9161;
  gap: 1rem;
}

ion-icon {
  font-size: 48px;
  fill: #ec5242;
}

.program-text {
  color: #ec5242;
  font-size: 1.6rem;
  font-weight: 700;
  width: 30%;
}

.program-paragraph {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff;
  width: 50%;
}

.join {
  background-color: #ec5242;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
